@model BusTickets.Models.User
@{
    ViewBag.Title = "Log In";
}

<h>@ViewBag.Title</h>

<div class="text-center">
@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
   @Html.AntiForgeryToken()
    <h4>Logging in</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <h7>@Html.LabelFor(m => m.Email)</h7>
    @Html.TextBoxFor(model => model.Email)
    <h1>                                                     </h1>
    <h7>@Html.LabelFor(m => m.Password)</h7>
    @Html.PasswordFor(model => model.Password)
    <h1>                                                     </h1>
    <h1>                                                     </h1>
    <h1>                                                     </h1>
    <div class="text-center">
        <div class="text-center">
            <input type="submit" class="btn btn-default" value="Login" />
        </div>
    </div>
    <p>
        @Html.ActionLink("Register as a new user", "Register")
    </p>
}
</div>