<html>
    <body>
        <div class="text-center">
            <h1 class="display-4">Bus Service</h1>

            @Html.ActionLink("Show map", "ShowMap")
            <h2>                                            </h2>
            @Html.ActionLink("Show cities", "ShowCities")
            <h2>                                            </h2>
            @Html.ActionLink("Show schedule", "ShowSchedule")
            <h2>                                            </h2>
            @Html.ActionLink("Show ages", "ShowAge")
            <h2>                                            </h2>
            @Html.ActionLink("Show tickets", "ShowTicket")
            <h2>                                            </h2>
            @Html.ActionLink("Buy a ticket", "BuyTicket")
        </div>
    </body>
</html>
