@model IEnumerable<BusTickets.Models.Schedule>
@{
    ViewBag.Title = "Schedule";
}

<div class="text-center">
    <h1>Schedule</h1>
</div>

<h1>                 </h1>
<h1>                 </h1>
<h2>Working days</h2>

<table class="table">
    <tr>
        <th>
            ScheduleId
        </th>
        <th>
            MapId
        </th>
        <th>
            Hour
        </th>
        <th>
            DayId
        </th>
        <th>
            Price
        </th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.DayId == 1)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MapId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hour)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DayId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
            </tr>
        }
    }

</table>

<h1>                 </h1>
<h1>                 </h1>
<h2>Saturdays</h2>

<table class="table">
    <tr>
        <th>
            ScheduleId
        </th>
        <th>
            MapId
        </th>
        <th>
            Hour
        </th>
        <th>
            DayId
        </th>
        <th>
            Price
        </th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.DayId == 2)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MapId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hour)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DayId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
            </tr>
        }
    }
</table>

<h1>                 </h1>
<h1>                 </h1>
<h2>Sundays and holidays</h2>

<table class="table">
    <tr>
        <th>
            ScheduleId
        </th>
        <th>
            MapId
        </th>
        <th>
            Hour
        </th>
        <th>
            DayId
        </th>
        <th>
            Price
        </th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.DayId == 3)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MapId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hour)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DayId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
            </tr>
        }
    }
</table>

<div>
    @Html.ActionLink("Back to the list", "Index")
</div>