<html>
    <body>
        <div class="text-center">
            <h1 class="display-4">Bus Service</h1>

            @Html.ActionLink("Show map", "ShowMap", "Manage")
            <h2>                                            </h2>
            @Html.ActionLink("Show tickets", "ShowTicket", "Manage")
            <h2>                                            </h2>
            @Html.ActionLink("Show schedule", "ShowSchedule", "Manage")
            <h2>                                            </h2>
            @Html.ActionLink("Show age", "ShowAge", "Manage")
            <h2>                                            </h2>
            @Html.ActionLink("Show cities", "ShowCity", "Manage")
        </div>
    </body>
</html>
